#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.light {
  background-color: #fafafa;
  color: #1f2023;
}
.dark {
  background-color: #1f2023;
  color: #fff;
}
